* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html, body {
    height: 100%;
    width: 100%;
}
.main {
    height: 100%;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transition:all linear 50ms;
    mix-blend-mode: difference ;
}
.main h1 {
    font-size: 20vh;
    font-weight: 600;
}